.titlebar-button {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 0;
  margin: auto 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlebar-close {
  background-color: #fd5754;
}

.titlebar-minimize {
  background-color: #febb40;
}

.titlebar-restore,
.titlebar-max {
  background-color: #27c93f;
}

.titlebar-button .toolbarbutton-icon {
  opacity: 0;
  width: 16px;
  height: 16px;
}

.titlebar-button:hover .toolbarbutton-icon {
  opacity: 1;
}

.titlebar-close .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85.4 85.4"><g fill="%23460804"><path d="m22.5 57.8 35.3-35.3c1.4-1.4 3.6-1.4 5 0l.1.1c1.4 1.4 1.4 3.6 0 5l-35.3 35.3c-1.4 1.4-3.6 1.4-5 0l-.1-.1c-1.3-1.4-1.3-3.6 0-5z"/><path d="m27.6 22.5 35.3 35.3c1.4 1.4 1.4 3.6 0 5l-.1.1c-1.4 1.4-3.6 1.4-5 0l-35.3-35.3c-1.4-1.4-1.4-3.6 0-5l.1-.1c1.4-1.3 3.6-1.3 5 0z"/></g></svg>');
  color: #82050a;
}

.titlebar-minimize .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85.4 85.4"><path fill="%2390591d" d="m17.8 39.1h49.9c1.9 0 3.5 1.6 3.5 3.5v.1c0 1.9-1.6 3.5-3.5 3.5h-49.9c-1.9 0-3.5-1.6-3.5-3.5v-.1c0-1.9 1.5-3.5 3.5-3.5z"/></svg>');
  color: #995711;
}

.titlebar-restore .toolbarbutton-icon,
.titlebar-max .toolbarbutton-icon {
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85.4 85.4"><path fill="%232a6218" d="m31.2 20.8h26.7c3.6 0 6.5 2.9 6.5 6.5v26.7zm23.2 43.7h-26.8c-3.6 0-6.5-2.9-6.5-6.5v-26.8z"/></svg>');
}

.titlebar-close:active { background-color: #e04b49; }
.titlebar-minimize:active { background-color: #e0a835; }
.titlebar-restore:active,
.titlebar-max:active { background-color: #20a832; }
